{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="text-white fs-3 fw-bolder">Binoculares</h1>
<p class="text-white-50 mb-0">bajada</p>
{% endblock %}

{% block Primera_bajada %} <!-- Primera bajada de informacion editable -->
<h2>Listado de Binoculares: </h2>
<p class="lead"></p>
<p class="mb-0"></p>

<ol>
    {% for binocular in todos_binoculares%}
        <li>
            Marca: {{binocular.tipo}} / Apertura: {{binocular.apertura}} / Aumentos: {{binocular.aumentos}} / Peso: {{binocular.peso}}
            <a class="btn btn-primary" href= "{% url 'eliminar-binocular' binocular.marca %}" >Borrar {{binocular.marca}} </a>
        </li>
       
    {% endfor %}
</ol>


<a href="{% url 'crear-binocular' %}" target="_self">
    <button>Crear Publicación Binocular</button>
<a href="{% url 'buscar-telescopio' %}" target="_self">
    <button>Buscar Binocular</button> </a>
{% endblock %}

{% block Segunda_bajada %} <!-- Segunda bajada de información editable-->
<h2>segunda bajada de información </h2>
<p class="lead"> Descripcion 1</p>
<p class="mb-0">descripcion 2</p>
{% endblock %}