{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="text-white fs-3 fw-bolder">Buscar Binocular</h1>
<p class="text-white-50 mb-0">bajada</p>
{% endblock %}

{% block Primera_bajada %} <!-- Primera bajada de informacion editable -->
<h2>Formulario: Buscar Binocular</h2>

<form action="/resultado-binocular/" method="GET">
    <p> Marca: <input type="text" name="marca" >  </p>
    <input type="submit" value="Buscar" >
</form>

<p class="lead"></p>
<p class="mb-0"></p>
{% endblock %}

{% block Segunda_bajada %} <!-- Segunda bajada de información editable-->
<h2></h2>
<p class="lead"></p>
<p class="mb-0"></p>
{% endblock %}