<!-- PLANTILLA PARA FORMULARIOS-->
{% extends "AppCoder/padre.html" %}
{% load static %}


{% block titulo %}
<h1 class="text-white fs-3 fw-bolder">Reservar Tour Astro-Turismo</h1>
{% endblock %}



{% block Primera_bajada %} <!--Formulario-->
<h2>Formulario: Reservar Tour</h2>
<form action="" method="POST"> {% csrf_token %}
    <table>
    {{ form_reserva.as_table }}
    </table>
    <input type="submit" value="Guardar">
</form>
{% endblock %}



{% block Segunda_bajada %} <!-- Segunda bajada de información editable-->
{% endblock %}