{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="text-white fs-3 fw-bolder">Resultado busqueda de Montura</h1>
<p class="text-white-50 mb-0"></p>
{% endblock %}

{% block Primera_bajada %} <!-- Primera bajada de informacion editable -->

    {% if res %}
        <ol>
        {% for montura in res %}
            <li>Tipo: {{montura.tipo}} / Goto: {{montura.goto}} / Carga Máxima (Kg.): {{montura.carga_max}} / Marca: {{montura.marca}} / Peso : {{montura.peso}}</li>
        {% endfor %}
        </ol>
        
    {% else %}
        <h3> No hay resultados que coincidan con tu búsqueda </h3>
    {% endif %}  
{% endblock %}



{% block Segunda_bajada %} <!-- Segunda bajada de información editable-->
{% endblock %}