{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="text-white fs-3 fw-bolder">Telescopios</h1>
<p class="text-white-50 mb-0">bajada</p>
{% endblock %}

{% block Primera_bajada %} <!-- Primera bajada de informacion editable -->
<h2>Listado de telescopios disponibles: </h2>
<p class="lead"></p>
<p class="mb-0"></p>

<ol>
    {% for telescopio in todos_telescopios %}
        <li>
            Tipo: {{telescopio.tipo}} / Apertura: {{telescopio.apertura}} / Distancia Focal (mm): {{telescopio.df}} / f: {{telescopio.f}} / Marca {{telescopio.marca}}
        </li>
        <a class="btn btn-primary" href= "{% url 'eliminar-telescopio' telescopio.marca %}" >Borrar {{telescopio.marca}} </a>
    {% endfor %}
</ol>



<a href="{% url 'crear-telescopio' %}" target="_self">
    <button>Crear Publicación Telescopio</button>
<a href="{% url 'buscar-telescopio' %}" target="_self">
    <button>Buscar Telescopio</button> </a>

{% endblock %}




{% block Segunda_bajada %} <!-- Segunda bajada de información editable-->
<h2>segunda bajada de información </h2>
<p class="lead"> Descripcion 1</p>
<p class="mb-0">descripcion 2</p>
{% endblock %}