{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="text-white fs-3 fw-bolder">Trípodes</h1>
<p class="text-white-50 mb-0">bajada</p>
{% endblock %}

{% block Primera_bajada %} <!-- Primera bajada de informacion editable -->
<h2>Listado de Trípodes para cámaras: </h2>
<p class="lead"></p>
<p class="mb-0"></p>

<ol>
    {% for tripode in todos_tripode %}
        <li>
            Marca: {{tripode.marca}} / Precio : $ {{tripode.precio}}
        </li>
        <a class="btn btn-primary" href= "{% url 'eliminar-tripode' tripode.marca %}" >Borrar {{tripode.marca}} </a>
    {% endfor %}
</ol>


<a href="{% url 'crear-tripode' %}" target="_self">
    <button>Crear Publicación Trípode</button>
<a href="{% url 'buscar-tripode' %}" target="_self">
    <button>Buscar Trípode</button> </a>
{% endblock %}

{% block Segunda_bajada %} <!-- Segunda bajada de información editable-->
<h2></h2>
<p class="lead"></p>
<p class="mb-0"></p>
{% endblock %}